/*

innerWidth: 1280
innerHeight: 657

*/

* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body {
    margin: 0px;
    padding: 0px;
}

div#topbar {
    margin: 0px;
    padding: 0px;

    position: fixed;
    background-color: rgb(255, 83, 83);
    width: 100%;
    height: 40px;
}

#topbarTxt {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}